{% extends 'base.html' %}

{% block title %}
This is the ticket table
{% endblock %}

{% block content %}
    <table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Ticket Number</th>
        <th scope="col">Prio</th>
        <th scope="col">User</th>
        <th scope="col">Title</th>
        <th scope="col">More Info</th>
    </tr>
  </thead>
  <tbody>

        {% for item in items%}
        <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.prio}}</td>
            <td>{{item.user}}</td>
            <td>{{item.title}}</td>
            <td>
                <button type="button" class="btn btn-light">More Info</button>
            </td>
        </tr>
        {% endfor %}

  </tbody>
    </table>
{% endblock %}
